<form class="needs-validation" novalidate [formGroup]="form">
  <div class="form-row">
    <div class="col-sm-12 mb-3 mt-3">
      <label for="name">Nome do Curso</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Nome do Curso"
        formControlName="name"
        [ngClass]="{ 'is-invalid': submitted && hasError('name') }"
      />
      <div class="invalid-feedback" *ngIf="hasError('name')">
        Por favor, Informe um nome de curso válido.
      </div>
    </div>
  </div>
  <div class="mt-1">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">
      Salvar
    </button>
    <button type="button" class="btn btn-default" (click)="onCancel()">
      Cancelar
    </button>
  </div>
</form>
