<div class="mt-2">
  <div class="custom-file">
    <input
      type="file"
      class="custom-file-input"
      id="customFile"
      (click)="onChange($event)"
      multiple
    />
    <label class="custom-file-label" for="customFile" id="customFileLabel"
      >Selecionar Arquivvo</label
    >
  </div>
  <div class="progress mt-2">
    <div class="progress-bar" role="progressbar" [style.width]="progress + '%'">
      {{ progress }}%
    </div>
  </div>
</div>
<div class="mt-2">
  <button
    type="button"
    class="btn btn-primary"
    (click)="onUpload()"
    [disabled]="!!!files"
  >
    Upload
  </button>
</div>
<div class="mt-2">
  <button
    type="button"
    class="btn btn-primary mr-2"
    (click)="onDownloadExcel()"
  >
    Download Excel
  </button>
  <button type="button" class="btn btn-primary" (click)="onDownloadPDF()">
    Download PDF
  </button>
</div>
